A look into the sentiment around Apple, based on tweets containing #AAPL, @apple, etc.
Contributors were given a tweet and asked whether the user was positive, negative, or neutral about Apple. (They were also allowed to mark â€œthe tweet is not about the company Apple, Inc.)
Tweets cover a wide array of topics including stock performance, new products, IP lawsuits, customer service at Apple stores, etc.

In [44]:
import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Import packages
import os
os.chdir(r'/Users/harsh/Desktop/NLP Project')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import nltk

In [55]:
a=pd.read_csv('4.Apple-Twitter-Sentiment-DFE.csv',encoding="ISO-8859-1")
a.head(10).T

,0,1,2,3,4,5,6,7,8,9
_unit_id,623495513,623495514,623495515,623495516,623495517,623495518,623495519,623495520,623495521,623495522
_golden,True,True,True,True,False,True,True,True,True,False
_unit_state,golden,golden,golden,golden,finalized,golden,golden,golden,golden,finalized
_trusted_judgments,10,12,10,17,3,13,13,9,15,3
_last_judgment_at,NaN,NaN,NaN,NaN,12/12/14 12:14,NaN,NaN,NaN,NaN,12/12/14 0:52
sentiment,3,3,3,3,3,3,5,5,3,3
sentiment:confidence,0.6264,0.8129,1,0.5848,0.6474,0.5975,0.8468,0.6736,0.7997,0.636
date,Mon Dec 01 19:30:03 +0000 2014,Mon Dec 01 19:43:51 +0000 2014,Mon Dec 01 19:50:28 +0000 2014,Mon Dec 01 20:26:34 +0000 2014,Mon Dec 01 20:29:33 +0000 2014,Mon Dec 01 20:30:03 +0000 2014,Mon Dec 01 20:32:45 +0000 2014,Mon Dec 01 20:34:31 +0000 2014,Mon Dec 01 20:36:47 +0000 2014,Mon Dec 01 20:45:03 +0000 2014
id,5.4e+17,5.4e+17,5.4e+17,5.4e+17,5.4e+17,5.4e+17,5.4e+17,5.4e+17,5.4e+17,5.4e+17
query,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple,#AAPL OR @Apple
sentiment_gold,3\nnot_relevant,3\n1,3,3\n1,NaN,5,5,5\n3,1,NaN
text,#AAPL:The 10 best Steve Jobs emails ever...htt...,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...,My cat only chews @apple cords. Such an #Apple...,I agree with @jimcramer that the #IndividualIn...,Nobody expects the Spanish Inquisition #AAPL,#AAPL:5 Rocket Stocks to Buy for December Gain...,Top 3 all @Apple #tablets. Damn right! http://...,CNBCTV: #Apple's margins better than expected?...,Apple Inc. Flash Crash: What You Need to Know ...,#AAPL:This Presentation Shows What Makes The W...

In [56]:
a.shape
a.columns
a.info()
a.isnull().sum()
a.describe(include='all').T

(3886, 12)

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'sentiment', 'sentiment:confidence', 'date', 'id',
       'query', 'sentiment_gold', 'text'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3886 entries, 0 to 3885
Data columns (total 12 columns):
_unit_id                3886 non-null int64
_golden                 3886 non-null bool
_unit_state             3886 non-null object
_trusted_judgments      3886 non-null int64
_last_judgment_at       3783 non-null object
sentiment               3886 non-null object
sentiment:confidence    3886 non-null float64
date                    3886 non-null object
id                      3886 non-null float64
query                   3886 non-null object
sentiment_gold          103 non-null object
text                    3886 non-null object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 337.8+ KB

_unit_id                   0
_golden                    0
_unit_state                0
_trusted_judgments         0
_last_judgment_at        103
sentiment                  0
sentiment:confidence       0
date                       0
id                         0
query                      0
sentiment_gold          3783
text                       0
dtype: int64

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
_unit_id,3886,NaN,NaN,NaN,6.23497e+08,1171.91,6.23496e+08,6.23496e+08,6.23497e+08,6.23498e+08,6.23517e+08
_golden,3886,2,False,3783,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_unit_state,3886,2,finalized,3782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_trusted_judgments,3886,NaN,NaN,NaN,3.68708,2.0046,3,3,3,3,27
_last_judgment_at,3783,388,12/12/14 2:56,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sentiment,3886,4,3,2162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sentiment:confidence,3886,NaN,NaN,NaN,0.829526,0.175864,0.3327,0.674475,0.81125,1,1
date,3886,3795,Thu Dec 04 20:39:58 +0000 2014,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id,3886,NaN,NaN,NaN,5.41004e+17,7.94275e+14,5.4e+17,5.4e+17,5.41e+17,5.42e+17,5.42e+17
query,3886,1,#AAPL OR @Apple,3886,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sentiment_gold,103,9,1,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text,3886,3219,"RT @OneRepublic: Studio at 45,000 ft. One out...",304,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
a.sentiment.value_counts(normalize='True')

3               0.556356
1               0.313690
5               0.108852
not_relevant    0.021101
Name: sentiment, dtype: float64